.profile-container {
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.introduction-header {
    color: var(--color-dark-gray);
    margin-top: 10px;
    margin-bottom: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
} 

.introduction-heading {
    font-size: 3rem;
}

.introduction-text {
    color: #ffffff;
    font-size: 1.7rem;
}

.profile-card {
    display: grid;
    grid-gap: 10px 15px;
    grid-template-columns: 100px 200px;
    grid-template-rows: 30px 70px;
    max-width: 300px;
    height: 100px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;    
    border: 3px double white;
    border-radius:30px;
    margin-right: 10px;
    grid-row: 1 / -1;
}

.author-header {
    margin-top: 12px;
    grid-column: 2 / 3;
}

.author-heading {
    color: var(--color-dark-gray);
    font-size: 2rem;
}


.social-icon-link:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}



@media(max-width:325px) {

    .introduction-header {
        margin-left: auto;
        margin-right: auto;
    }

    .introduction-text {
        line-height: 1.7;
        text-align: center;
    }

    .profile-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    }

    .author-header {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}