
.card-header {
    color: var(--color-light-blue);
    width: max-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* CARD */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
}

.card {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
    border: 6px double white;
    border-radius: 20px;
    display: flex;
    max-width: 420px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
}

/* CARD - IMAGE */

.card-image {
    max-width: 150px;
    height: 100%;
    border-radius: 15px;
}

/* CARD - TITLE AND TEXT */

.title-and-text {
    padding-left: 10px;
    overflow: hidden;
    height: 130px;
}

.card-title-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.card-title-text {
    color: var(--color-dark-blue);
    font-size: 1.8rem;
    font-weight: 600;
}

.card-title-text:hover {
    color: white;
}

.card-text {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 19px;
    text-align: center;  
    word-wrap: break-word; 
}

.arrow-container {
    width: max-content;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.arrow-icon {
    width: 40px;
    height: 40px;
}

.arrow-icon path {
    fill: var(--color-light-blue);
}

.arrow-icon:hover path {
    fill: white;
}
