
.card-header {
    color: var(--color-light-blue);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* CARD */

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30px;
}

.card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -o-linear-gradient(bottom, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 193, 195, 1)), to(rgba(45, 253, 155, 1)));
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
    border: 6px double white;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
    height: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
}

/* CARD - IMAGE */

.card-image {
    width: 200px;
    height: 188px;
    border-radius: 15px;
}

/* CARD - TEXT AND ICON */

.text-and-icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* TEXT AND ICON - TITLE AND TEXT */

.title-and-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 130px;
}

.card-title-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; 
}

.card-title-text {
    color: var(--color-dark-blue);
    font-size: 1.8rem;
    font-weight: 600;
}

.card-title-text:hover {
    color: white;
}

.card-text {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 19px;
    text-align: center;  
    word-wrap: break-word; 
}

/* TEXT AND ICON - ARROW CONTAINER */

.arrow-container {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.arrow-icon {
    width: 40px;
    height: 40px;
}

.arrow-icon path {
    fill: var(--color-purple);
}

.arrow-icon:hover path {
    fill: white;
}


/* MEDIA QUERIES */

@media(max-width:760px) {
    .card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 270px;
        height: 480px;
    }

    .card-image {
        width: 100%;
        height: 60%;
        margin-bottom: 10px;
    }

    .text-and-icon {
        height: 40%;
        margin-bottom: 10px;
    }

    .title-and-text {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-bottom: 20px;
    }
}

@media(max-width:450px) {
    .card {
        margin-right: 0px;
    }
}