/* MAIN CONTENT HEADER */

.main-content-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content-heading {
    color: var(--color-light-blue);
    font-size: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


/* CARD  CONTAINER */

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 20px 20px 20px;
}


/* CARD */

.card {
    background: linear-gradient(139deg, var(--color-grayish-blue) 0%, var(--color-dark-gray) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 6px double white;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 850px;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}


/* CARD IMAGE */

.card-image {
    border-radius: 15px;
    margin-right: 20px;
    width: 60%;
}


/* CARD ARTICLE  */

.card-article {
    margin-top: 10px;
    width: 40%;
}


/* CARD ARTICLE HEADER */   

.card-article-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card-article-heading {
    color: var(--color-light-blue);
    font-size: 1.8rem;
    font-weight: var(--bold);
}

.card-article-heading:hover {
    color: #ffffff;
}


/* CARD ARTICLE HEADER */  

.card-article-text {
    color: #fcebff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
    margin-top: 10px;
    overflow: hidden;
}


/* ARROW */

.arrow-container {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.arrow-icon {
    width: 40px;
    height: 40px;
}

.arrow-icon path {
    fill: var(--color-light-blue);
}

.arrow-icon:hover path {
    fill: white;
}


/* MEDIA QUERIES */

@media(max-width:700px) {
    .card {
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        min-height: 500px;
        height: auto;
    }

    .card-image {
        width: auto;
        height: 250px;
    }

    .card-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card-article-text {
        max-width: 370px;
        text-align: center;
    }
}
