*, ::before, ::after, h1, h2 {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230), 
    rgb(150, 150, 150));
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
}

#container { 
    display: flex;
    flex-direction: column;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}
