:root {
    --color-light-gray: hsl(0, 0%, 95%);
    --color-light-blue: hsl(217, 71%, 47%);
    --color-transparent-blue: hsla(225, 100%, 65%, 0.2);
    --color-dark-blue: hsl(244, 86%, 22%);
}

*, ::before, ::after, h1, h2 {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    font-size: 10px;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230), rgb(150, 150, 150));
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
}

#container { 
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
