*, ::before, ::after, h1, h2 {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-light-gray);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

main {
    box-sizing: border-box;
    padding-top: 20px;
}

#container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}