.header-and-nav {
    border-bottom: 1px solid var(--color-transparent-blue);
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.top-header {
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
}

.logo-text h1 {
    color: var(--color-light-blue);
    font-size: 3.5rem;
    width: max-content;
}

#logo-text h1 span {
    font-weight: 400;
}

/* NAVBAR */

.navbar {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-left: 70px;
    padding-right: 10px;
    width: 100%;
}

#nav-list {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

.nav-list-item {
    margin-top: 5px;
    list-style: none;
}

.nav-list-item:nth-child(1) {
    padding-right: 50px;
}

.nav-list-item-link {
    display: inline-block;
    color: var(--color-light-blue);
    font-weight: 500;
}

.nav-list-item-link::after {
    display: block;
    content: '';
    width: 0px;
    height: 2px;
    background-color: var(--color-transparent-blue);
    transition: all 1s ease;
}

.nav-list-item-link:hover::after {
    width: 100%;
}

#search {
    margin-left: auto;
    margin-right: 0;
    width: max-content;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-bar {
    height: 30px;
    width: 200px;
}

#search button {
    height: 34px;
    margin-left: 5px;
}

.hamburger-menu {
    display: none;
}

/* MEDIA QUERIES */

@media(min-width:630px) and (max-width:920px), (max-width: 450px) {
    .top-header {
        display: none;
    }
}

@media (max-width:920px) {
    .navbar {
        padding-left: 5px;
    }
}

@media (min-width:450px){
    .top-header {
        margin-left: auto;
        margin-right: 0;
    }

    .logo-text h1 {
        font-size: 2.5rem;
    }

}

@media (max-width: 630px) {
    .header-and-nav {
        border-bottom: none;
    }

    .js-hide {
        display: none;
    }

    .js-header-and-nav {
        display: flex;
    }

    /* HAMBURGER MENU */

    .hamburger-menu {
        display: block;
        cursor: pointer;
        transition: transform 1s;
    }

    .js-rotate {
        transform: rotate(-90deg);
    }


    .hamburger-menu div {
        width: 35px;
        height: 5px;
        background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
        transition: 0.4s;
    }

    .hamburger-menu div:nth-child(2) {
        margin: 6px 0;
    }
}