/* HEADER AND NAV */

.header-and-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

/* MAIN HEADER */

.main-header {
    margin-top: 30px;
    margin-bottom: 30px;
    width: max-content;
}

.main-header a{
    color: var(--color-dark-gray);
}

.main-header-heading {
    text-transform: uppercase;
    font-size: 7rem;
}

/* NAVBAR */

.navbar {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: max-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-list-item {
    list-style: none;
    margin-top: 5px;
    margin-right: 50px;
}

.nav-list-item-link {
    display: inline-block;
    color: var(--color-dark-gray);
    font-weight: var(--semi-bold);
}

#search {
    margin-right: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

#search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-bar {
    border: 1px solid var(--color-dark-gray);
    border-right: 0px;
    height: 32px;
    width: 200px;
    padding-left: 5px;
}

.search-button {
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-dark-gray);
    border-left: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    width: 50px;
}

.search-button:hover {
    background-color: var(--color-dark-gray);
    fill: white;
}

.search-circle {
    border: 2px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
}

.search-circle::after {
    background-color: black;
    content: "";
    display: block;
    height: 10px;
    width: 3px;
    position: absolute;
    bottom: -6px;
    right: -4px;
    transform: rotate(130deg);

}

#tag {
    color: var(--color-dark-gray);
    font-weight: var(--semi-bold);
    position: relative;
}

.arrow {
    cursor: pointer;
    padding: 5px;
    width: 20px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
}

.arrow path {
    fill: var(--color-dark-gray);
}

.js-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hamburger-menu {
    display: none;
}


/* MEDIA QUERIES */

@media (max-width: 730px) {

    .header-and-nav {
        flex-direction: row;
        padding-left: 10px;
        padding-right: 30px;
    }

    .main-header {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
    }

    .main-header-heading {
        font-size: calc(15px + 5vw);
    }
   
    .hamburger-menu {
        cursor: pointer;
        display: initial;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .js-rotate {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .stick {
        width: 35px;
        height: 5px;
        background: -o-linear-gradient(bottom, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 193, 195, 1)), to(rgba(45, 253, 155, 1)));
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
    }
    .stick:nth-child(2) {
        margin: 6px 0;
    }
    .js-color {
        background: -o-linear-gradient(bottom, rgb(161, 20, 20) 0%, rgb(243, 4, 4) 100%) !important;
        background: -webkit-gradient(linear, left bottom, left top, from(rgb(161, 20, 20)), to(rgb(243, 4, 4))) !important;
        background: linear-gradient(0deg, rgb(161, 20, 20) 0%, rgb(243, 4, 4) 100%) !important;
    }
  
    .navbar {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 0px;
        background-image: -o-linear-gradient(bottom, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 193, 195, 1)), to(rgba(45, 253, 155, 1)));
        background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
        height: 0px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        padding: 0;
        position: absolute;
        top: calc(100vw / 10);
        left: 0;
        z-index: 99;
        -webkit-transition: height 1s;
        -o-transition: height 1s;
        transition: height 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
    }
    .nav-list {
        height: inherit;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .nav-list-item {
        display: block;
        padding: 10px 0px 10px 0;
        margin-left: auto;
        margin-right: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-transform: translateX(-300vh);
        -ms-transform: translateX(-300vh);
        transform: translateX(-300vh);
    }
    #search {
        margin-left: auto;
        margin-right: auto;
        border-bottom: none;
    }
    .js-search {
        z-index: -1;
    }
    .nav-list-item:nth-child(1), .nav-list-item:nth-child(2) {
        padding-right: 0;
    }
    .js-nav-list-item-hide {
        -webkit-transform: translateX(-300vh);
        -ms-transform: translateX(-300vh);
        transform: translateX(-300vh);
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
    }
    .js-nav-list-item-hide:nth-child(1) {
        padding-right: 0;
        -webkit-transition-delay: 800ms;
        -o-transition-delay: 800ms;
        transition-delay: 800ms;
    }
    .js-nav-list-item-hide:nth-child(2) {
        -webkit-transition-delay: 600ms;
        -o-transition-delay: 600ms;
        transition-delay: 600ms;
    }
    .js-nav-list-item-hide:nth-child(3) {
        -webkit-transition-delay: 400ms;
        -o-transition-delay: 400ms;
        transition-delay: 400ms;
    }
    .js-nav-list-item-hide:nth-child(4) {
        -webkit-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }
    .js-navbar {
        visibility: visible;
        height: 270px;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
        transition: height 2s;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .js-nav-list-item-show {
        -webkit-transform: translateX(0vh);
        -ms-transform: translateX(0vh);
        transform: translateX(0vh);
    }
    .js-nav-list-item-show:nth-child(1) {
        padding-right: 0;
        -webkit-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }
    .js-nav-list-item-show:nth-child(2) {
        -webkit-transition-delay: 400ms;
        -o-transition-delay: 400ms;
        transition-delay: 400ms;
    }
    .js-nav-list-item-show:nth-child(3) {
        -webkit-transition-delay: 600ms;
        -o-transition-delay: 600ms;
        transition-delay: 600ms;
    }
    .js-nav-list-item-show:nth-child(4) {
        -webkit-transition-delay: 800ms;
        -o-transition-delay: 800ms;
        transition-delay: 800ms;
    }
}

@media(max-width:600px) {
    .navbar {
        top: calc(100vw / 9);
    }
}

@media(max-width:450px) {
    .main-header-heading {
        font-size: 6vw;
    }

    .navbar {
        top: calc(100vw / 8);
    }

    .js-navbar {
        height: 250px;
    }
    .nav-list {
        height: inherit;
    }
}

@media(max-width:350px) {
    .navbar {
        top: calc(100vw / 7);
    }
}

@media(max-width:270px) {

    .navbar {
        top: calc(100vw / 6);
    }

    .search-bar {
        width: 150px;
    }
}
