.tags-wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content;
    height: max-content;
    position: absolute;
    left: -20px;
    visibility: hidden;
    z-index: 999;
}

.tags-container {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 155, 1) 100%);
    border: 6px double white;
    border-radius: 15px;
    width: max-content;
}

.tag {
    background-color: var(--color-light-gray);
    border: 3px solid var(--color-transparent-blue);
    border-radius: 50px;
    margin: 10px;
    padding: 5px;
}

.tag-text {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.tag-link {
    color: var(--color-light-blue);
    font-size: 1.5rem;
    font-weight: 600;
}