:root {
    --color-light-gray: hsl(0, 0%, 95%);
    --color-light-blue: hsl(217, 71%, 47%);
    --color-transparent-blue: hsla(225, 100%, 65%, 0.2);
    --color-dark-blue: hsl(244, 86%, 22%);
    --color-purple: hsl(263, 68%, 44%);
}