:root {
    --color-black: hsl(216, 29%, 7%);
    --color-red: hsl(0, 100%, 30%);

    --color-light-gray: hsl(0, 0%, 95%);
    --color-dark-gray: hsl(156, 3%, 61%);

    --color-grayish-blue: hsl(181, 46%, 69%);
    --color-light-blue: hsl(217, 71%, 47%);
 
   --color-turquoise: hsl(193, 100%, 46%); 

    --small: 300;
    --medium: 400;
    --semi-bold: 500;
    --bold: 700;
}