{% extends 'base.html' %}
{% load static %}

{% block detail_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
{% endblock detail_css %}


{% block body %}

<div class="profile-container">

     <article class="introduction-container">
          <header class="introduction-header">
               <h1 class="introduction-heading">
                    Site Name
               </h1>
          </header>
          <p class="introduction-text">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odit nihil aspernatur sed eveniet
               voluptatem accusamus a error, expedita, ratione, sapiente accusantium impedit perferendis alias. Est
               eaque nesciunt dolorem deleniti quasi esse optio sed ut, voluptatum modi ducimus odit praesentium
               dignissimos exercitationem dolores atque vitae blanditiis consequatur. Placeat facilis, iure illum nam
               odio delectus amet veritatis dignissimos aspernatur sunt asperiores rem maiores dolor accusantium?
          </p>
     </article>

     <article class="introduction-container">
          <header class="introduction-header">
               <h1 class="introduction-heading">
                    Author Name
               </h1>
          </header>
          <p class="introduction-text">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odit nihil aspernatur sed eveniet
               voluptatem accusamus a error, expedita, ratione, sapiente accusantium impedit perferendis alias. Est
               eaque nesciunt dolorem deleniti quasi esse optio sed ut, voluptatum modi ducimus odit praesentium
               dignissimos exercitationem dolores atque vitae blanditiis consequatur. Placeat facilis, iure illum nam
               odio delectus amet veritatis dignissimos aspernatur sunt asperiores rem maiores dolor accusantium?
          </p>
     </article>

     <article class="profile-card">
          <img class="profile-image" src="" alt="">
          <header class="author-name">
               <h3>Lorem Ipsum</h3>
          </header>
          <div class="contact">
               <div class="social-media-logo-container">

               </div>
          </div>
     </article>

</div>
{% endblock body %}