{% extends 'base.html' %}
{% load static %}

{% block detail_css %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/article_detail.css'%}">
{% endblock detail_css %}

{% block body %}
    <div class="article-container">

        <div class="main-image-container">
            {% if object.main_image %}
                <img class="article-main-image" src=" {{ object.main_image.url }} " alt="image">
            {% endif %}
        </div>

        <header class="article-header">
            <h1 class="article-header-h1">
                {{object.title}}
            </h1>
        </header>

        <article class="article-content">
            {{object.content | safe}}
        </article>
    </div>
{% endblock body %}

{% block tags%}
{% include 'tag.html' %}
{% endblock tags%}




