{% extends 'base.html' %}
{% load static %}

{% block description %}<meta name="description" content= "{{object.description}}"/>{% endblock description %}

{body} {{descripti}} {body}
{% block title %} {{object.title}} {% endblock title %}

{% block custom_css %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/article_detail.css'%}">
{% endblock custom_css %}

{% block body %}
    <div class="article-container">

        <div class="article-main-image-container">
            {% if object.main_image %}
                <img class="article-main-image" src=" {{ object.main_image.url }} " alt="image">
            {% endif %}
        </div>

        <header class="article-header">
            <h2 class="article-header-heading">
                {{object.title}}
            </h2>
        </header>

        <article class="article-content">
            {{object.content | safe}}
        </article>
    </div>
{% endblock body %}




