{% extends 'base.html' %}

{% block body %}
    <div id="article-container">

        <div id="main-image-container">
            {% if object.main_image %}
                <img class="article-main-image" src=" {{ object.main_image.url }} " alt="image">
            {% endif %}
        </div>

        <header id="A">
            <h1 id="B">
                {{object.title}}
            </h1>
        </header>

        <article class="article-content">
            {{object.content | safe}}
        </article>
    </div>
{% endblock body %}



