{% load static %}
<!DOCTYPE html>
<html lang="tr-TR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    {% block cards_css %}

    {% endblock cards_css%}

    {% block detail_css %}
    
    {% endblock detail_css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <title>LoremIpsum | Anasayfa</title>
    <script defer src="{% static 'js/navbar.js'%}"></script>
</head>

<body>
    {% include 'navbar.html' %}

    <main id="main-content">
        <section id="container">
            {% block body %}

            {% endblock body %}
        </section>
        {% block tags%}
        
        {% endblock tags%}
    </main>
    <footer>
        <p class="footer-text">Lorem, ipsum.</p>
    </footer>
</body>

</html>