<div class="header-and-nav">
    <div class="hamburger-menu">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
    </div>

    <header class="top-header">
        <div class="logo-text">
            <a href="{% url 'index' %}">
                <h1>Lorem<span>Ipsum</span></h1>
            </a>
        </div>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-list-item">
                <a class="nav-list-item-link" href="{% url 'index' %}">ANA SAYFA</a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-item-link" href="{% url 'about' %}">HAKKINDA</a>
            </li>
            <li id="tag" class="nav-list-item">
                Etiketler
                <svg class="arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 66.91"
                    style="enable-background:new 0 0 122.88 66.91" xml:space="preserve">
                    <g>
                        <path
                            d="M11.68,1.95C8.95-0.7,4.6-0.64,1.95,2.08c-2.65,2.72-2.59,7.08,0.13,9.73l54.79,53.13l4.8-4.93l-4.8,4.95 c2.74,2.65,7.1,2.58,9.75-0.15c0.08-0.08,0.15-0.16,0.22-0.24l53.95-52.76c2.73-2.65,2.79-7.01,0.14-9.73 c-2.65-2.72-7.01-2.79-9.73-0.13L61.65,50.41L11.68,1.95L11.68,1.95z" />
                    </g>
                </svg>
                {% block tags%}
                {% include 'tag.html' %}
                {% endblock tags%}
            </li>
            <li id="search" class="nav-list-item">
                <form id="search-form" action="">
                    <input class="search-bar" type="text" placeholder="Başlık Ara" name="search">
                    <button class="search-button">
                        <svg class="search-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="119.828px"
                            height="122.88px" viewBox="0 0 119.828 122.88" enable-background="new 0 0 119.828 122.88"
                            xml:space="preserve">
                            <g>
                                <path
                                    d="M48.319,0C61.662,0,73.74,5.408,82.484,14.152c8.744,8.744,14.152,20.823,14.152,34.166 c0,12.809-4.984,24.451-13.117,33.098c0.148,0.109,0.291,0.23,0.426,0.364l34.785,34.737c1.457,1.449,1.465,3.807,0.014,5.265 c-1.449,1.458-3.807,1.464-5.264,0.015L78.695,87.06c-0.221-0.22-0.408-0.46-0.563-0.715c-8.213,6.447-18.564,10.292-29.814,10.292 c-13.343,0-25.423-5.408-34.167-14.152C5.408,73.741,0,61.661,0,48.318s5.408-25.422,14.152-34.166C22.896,5.409,34.976,0,48.319,0 L48.319,0z M77.082,19.555c-7.361-7.361-17.53-11.914-28.763-11.914c-11.233,0-21.403,4.553-28.764,11.914 C12.194,26.916,7.641,37.085,7.641,48.318c0,11.233,4.553,21.403,11.914,28.764c7.36,7.361,17.53,11.914,28.764,11.914 c11.233,0,21.402-4.553,28.763-11.914c7.361-7.36,11.914-17.53,11.914-28.764C88.996,37.085,84.443,26.916,77.082,19.555 L77.082,19.555z" />
                            </g>
                        </svg>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>